.sword-holder {
    width: 100%;
    min-height: 65vh;
    background-color: rgba(158, 250, 230);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.page-holder {
    width: 100%; /* Can be in percentage also. */
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    min-height: 450px;
}

.green {
    color: green;
    padding-left: 10px;
    text-align: right;
}

.sword-img {
    height: 400px;
    width: 266px;
    background-color: rgb(88, 88, 88);

}

.modal-sword-img {
    min-width: 300px;
    max-width: 300px;
    background-color: rgb(88, 88, 88);
    border-radius: 20px;
    margin-bottom: 20px
}

.rankings {
    padding-left: 30px;
}
.sword-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sword-details > p {
    width: 300px;
    text-align: center;
}

.sword-item {
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.3s;
    margin-bottom: 20px;
    max-height: 550px;
}

.sword-item {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.sword-item:hover {
    margin-top: -10px;
    margin-bottom: 30px;
    cursor: pointer;
  }

.sword {
    background-color: rgba(158, 250, 230);
    width: 100%;
    min-height: 700px;
}

.sword-search {
    background-color: rgba(158, 250, 230);
    column-gap: 30px;
    padding-top: 30px;
    margin: auto;
    max-width: 700px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.filter {
    padding-bottom:20px;
}

.sort {
    width: 300px;
    padding-bottom: 0px;
}

.btn-group {
    margin-top: -24px;
}

.sortDirection {
    border-top-right-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
}

.myBlades {
    border-radius: 5px!important;
    margin-left: 30px!important;
}

.mb-3 {
    width: 300px!important;
    min-width: 300px!important;
}

.basic-multi-select {
    width: 300px;
}

.search-button {
    height: 40px;
    margin-top: 15px;
    width: 300px;
}


.id {
    height: 40px;
}


.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(88, 88, 88);
    border-color: rgb(88, 88, 88) transparent rgb(88, 88, 88) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .page-link {
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
  }