.sword-holder {
    width: 100%;
    min-height: 65vh;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    color: rgba(158, 250, 230);
}

.filter-text {
    color: rgba(158, 250, 230);
}
.page-holder {
    width: 100%; /* Can be in percentage also. */
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-modal {
    color: rgba(158, 250, 230);
}
.modal-content {
    border-radius: 10px;
}


.card {
    min-height: 560px;
    color: white;
    background-color: rgba(36, 36, 36);
}

.sword-img {
    height: 400px;
    width: 266px;
    background-color: rgb(88, 88, 88);

}

.sword-popup {
    background-color: rgb(46, 46, 46);
    color: white;
    border-color: rgb(46, 46, 46);
}

.dark {
    background-color: rgba(36, 36, 36);
    color: white;
    border-color: rgba(36, 36, 36);
}

.select__single-value {
    color: white!important;
}

.select__input-container{
    color: white!important;
}

.select__control  {
    width: 300px;
    background-color: rgba(36, 36, 36)!important;
    color: white!important;
}

.select__placeholder {
    color: white!important;
}

.select__menu {
    background-color: rgba(36, 36, 36)!important;
    color: white!important;
}

.select__control {
    background-color: rgba(36, 36, 36)!important;
    color: white!important;
}

.select__option--is-focused {
    background-color: rgba(158, 250, 230)!important;
    color: black!important;
}

.modal-sword-img {
    min-width: 300px;
    max-width: 300px;
    background-color: rgb(88, 88, 88);
    border-radius: 20px;
    margin-bottom: 20px
}

.rankings {
    min-height: 450px;
    width: 300px;
}

.rank {
    /*Tab container styles*/
    width: 300px;
    padding-right: 20px;
}

.rank-reveal-disclaimer {
    font-size: 12px;
    padding-top: 20px;
}
#tab-button-tab-rank.active {
    background-color: black!important;
}
#tab-button-tab-rank:focus {
    background-color: black!important;
}
#tab-button-tab-attack:focus {
    background-color: black!important;
}

.btn-close {
    color: white;
    background-color: white;
}

.rank-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
}
.rank-text {
    width: 300px;
    margin: auto;
    text-align: left;
}

.green {
    color: rgba(158, 250, 230);
    text-align: right;
}


.btn-custom {
    background-color: rgba(36, 36, 36)!important;
    color: white;
}
.btn-custom:hover {
    color: white;
}

.page-link {
    background-color: rgba(36, 36, 36)!important;
    color: white;
    border-color: rgba(36, 36, 36)!important;
}

.page-link:hover {
    color: white;
    opacity: 0.5;
}

.page-link:focus {
    color: white;
}

.form-control:valid {
    background-color: rgba(36, 36, 36);
    color: white
}

.sword-details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.sword-details > p {
    width: 300px;
    text-align: center;
}

.sword-item {
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.3s;
    margin-bottom: 20px;
    max-height: 550px;
}

.sword-item {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.sword-item:hover {
    margin-top: -10px;
    margin-bottom: 30px;
    cursor: pointer;
  }

.sword {
    background-color: black;
    width: 100%;
    min-height: 700px;
}

.sword-search {
    background-color: black;
    column-gap: 30px;
    padding-top: 30px;
    margin: auto;
    max-width: 700px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.filter {
    padding-bottom:20px;
}

.sort {
    width: 300px;
    padding-bottom: 0px;
}

.btn-group {
    margin-top: -24px;
}

.sortDirection {
    border-top-right-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
}

.myBlades {
    border-radius: 5px!important;
    margin-left: 30px!important;
}

.mb-3 {
    width: 300px!important;
    min-width: 300px!important;
}

.search-button {
    height: 40px;
    margin-top: 15px;
    width: 300px;
}


.id {
    height: 40px;
}


.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(88, 88, 88);
    border-color: rgb(88, 88, 88) transparent rgb(88, 88, 88) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .page-link {
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
  }